.results-page {
	display: flex; 
	flex-direction: column; 
	align-items: center;
}

.results-page .results-page__header-container {
	position: sticky;
	top: 0;
	width: 100%;
}

.results-page .form__postcode-input-container {
	position: absolute;
	top: 20px;
	right: 14px;
	width: 70%;
}

.results-page .form__postcode-input {
	height: 50px;
}

.results-page .form__search-button {
	height: 42px;
}

.results-page .form {
	padding: 0px;
}

@media (min-width: 768px) {
    .results-page .form__postcode-input {
        height: 55px;
    }

    .results-page .form__search-button {
        height: 47px;
    }
}

@media (min-width: 1200px) {
    .results-page .form__postcode-input-container {
		max-width: 700px;
        left: 50%;
        right: auto;
		top: 50%;
        transform: translate(-50%, -50%);
	}

	.results-page .form__postcode-input {
        height: 60px;
    }

    .results-page .form__search-button {
        height: 52px;
    }
}