.restaurant-item {
	border-radius: 16px;
	background-color: white;
	box-shadow: 0px 1px 3px 2px rgba(231, 230, 230, 0.75);
	height: 100%;
	overflow: hidden;
}

.restaurant-item:hover {
	background: rgb(245, 245, 245)
}

.restaurant-item__container {
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.restaurant-item__logo {
	border-radius: 20px;
	height: 90px;
	width: 90px;
	object-fit: cover;
}

.restaurant-item__details-container {
	display: flex;
	flex-direction: column;
	gap: 1px;
	margin-left: 18px;
	flex: 1;
	min-width: 0;
}

.restaurant-item__name {
	font-weight: 800;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.restaurant-item__address-container {
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
}

.restaurant-item__address, .restaurant-item__cuisines {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.restaurant-item__rating {
	font-weight: 800;
	font-size: 0.88rem;
}

.restaurant-item__cuisines-container {
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
	margin-top: 2px;
}

@media (min-width: 768px) {
    .restaurant-item__name {
        font-size: 1.15rem;
    }

    .restaurant-item__address-container, .restaurant-item__cuisines-container {
        font-size: 0.9rem;
    }

    .restaurant-item__rating {
        font-size: 0.95rem;
    }

    .restaurant-item__logo {
        height: 95px;
        width: 95px;
    }

    .restaurant-item__container {
        padding: 12px;
    }
}


@media (min-width: 1200px) {
    .restaurant-item__name {
		font-size: 1.3rem;
	}

	.restaurant-item__address-container, .restaurant-item__cuisines-container {
		font-size: 1rem;
	}

	.restaurant-item__rating {
		font-size: 1.1rem;
	}

	.restaurant-item__logo {
		height: 100px;
		width: 100px;
	}

	.restaurant-item__container {
		padding: 15px;
	}
}