.restaurants__grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
}

.restaurants__container {
	padding: 13px;
	width: 100%;
}

.restaurants__title { 
	font-weight: 800;
	font-size: 1.33rem;
	margin-bottom: 10px;
}

.restaurants__no-results {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	padding: 8px;
}

.restaurants__no-results-title {
	font-weight: 800;
	font-size: 1.6rem;
}

.restaurants__error {
	padding: 8px;
	margin-top: 50px;
	font-weight: 800;
	font-size: 1.6rem;
}

.restaurants__no-results-subtitle {
	font-size: 1.2rem;
}

@media (min-width: 768px) {
    .restaurants__grid {
        grid-template-columns: repeat(2, 1fr);
    }

	.restaurants__title {
        font-size: 1.4rem;
    }

}

@media (min-width: 1200px) {
    .restaurants__grid {
        grid-template-columns: repeat(3, 1fr);
    }

	.restaurants__container {
		max-width: 1400px;
	}

	.restaurants__title {
		font-size: 1.5rem;
	}

	.restaurants__no-results-title, .restaurants__error {
		font-size: 1.9rem;
	}

	.restaurants__no-results-subtitle {
		font-size: 1.5rem;
	}
}