.restaurants__grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
}

.restaurants__container {
	padding: 13px;
}

.restaurants__title { 
	font-weight: 800;
	font-size: 1.33rem;
	margin-bottom: 10px;
}

.restaurants-no-results {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	padding: 8px;
}

.restaurants-no-results__title {
	font-weight: 800;
	font-size: 1.6rem;
}

.error-message {
	padding: 8px;
	margin-top: 50px;
	font-weight: 800;
	font-size: 1.6rem;
}

.restaurants-no-results__subtitle {
	font-weight: 400;
	font-size: 1.2rem;
}