.restaurants__grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
}

.restaurants__container {
	padding: 13px;
}

.restaurants__title { 
	font-weight: 800;
	font-size: 1.33rem;
	margin-bottom: 10px;
}